<head>
<script src="https://cdn.shopify.com/s/assets/external/app.js"></script>
</head>
<form action="/apps/ccup" method="POST">
<input type="text" value="" name="email" />
<input type="submit" value="submit" />
</form>
